body {
    background-color: rgba(230, 230, 230, 0.3);
    font-family: 'Open Sans', sans-serif;

}

.navbar {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}

.navbar-nav {
    text-transform: uppercase;
}


.card {
    min-height: 132px;
}

/* section.provinsi h6, section.rumahsakit h6, section.global h6{
    font-weight: 700;
} */


/* TABLE */
.tableFixHead { 
    overflow-y: auto; 
    height: 600px; 
}
.tableFixHead thead th { 
    position: sticky; top: 0px; 
}

/* Just common table stuff. Really. */
table  { 
    border-collapse: collapse; width: 100%;
    background-color: white;
}
th, td { 
    padding: 8px 16px; 
}
th { 
    background:white;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}

.kolomData {
    background-color: white;
}

/* END TABLE */


.infoPanel {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.daftarRS a:hover, .infoPenyakit a:hover {
    color: white!important;
    text-decoration: none!important;
}


footer p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}

footer a {
    color: white;
}


footer a:hover {
    color: white;
    text-decoration: none;
}

/* CSS Responsive */
@media (max-width: 768px) { 

    .judulTable {
        font-size: 13px;
    }

 }

 /* ========= Scroll Bar ======= */
/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }